<template>
    <div class="select-input">
        <input
        name="countrycode"
        type="number"
        :value="this.selected.callingCodes"
        required
        class="form-control"
        style="display:none;"
      /> 
        <v-select label="name" v-model="selected" :options="this.options" required></v-select>
    </div>
</template>

<script>
    export default {
        props: {
            inputValue: Number,
            inputName: String
        },
        data(){
            return {
                selected: '',
                options: []
            }
            
        },
        created(){
            if(this.inputValue){
                this.selected.callingCodes = this.inputValue;
            }
        },
        mounted() {
            console.log('Component mounted.');
            this.getContacts();
        },
        methods: {
            getContacts(){
                console.log('getContacts');
                axios.get('https://restcountries.eu/rest/v2/all')
                    .then((response) => {
                        console.log( response.data );
                        this.options = response.data;
                    })
                    .catch( resonse => {
                        console.log('error');
                    })
            },
        },
    }
</script>
